In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from pandas_profiling import ProfileReport

In [36]:
#importing flat file 
df=pd.read_csv('Movie - Data Set for Cleaning - Sheet1.csv')
#EDA
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_widgets()
profile.to_file("your_report.html")
df.describe().T

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=30.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,14.0,5.061429e+02,1.690698e+02,302.0,3.792500e+02,448.0,6.350000e+02,813.0
duration,11.0,1.507273e+02,2.167990e+01,106.0,1.410000e+02,151.0,1.625000e+02,183.0
actor_3_facebook_likes,14.0,5.866143e+03,8.289593e+03,161.0,6.112500e+02,1000.0,8.500000e+03,23000.0
ACTOR_1_facebook_likes,14.0,1.820643e+04,1.390521e+04,451.0,3.500000e+03,21000.0,2.600000e+04,40000.0
gross,14.0,3.335836e+08,1.720674e+08,73058679.0,2.002574e+08,319826607.0,4.418561e+08,760505847.0
num_voted_users,13.0,4.621578e+05,2.687059e+05,212204.0,2.948100e+05,383056.0,4.712200e+05,1144337.0
Cast_Total_facebook_likes,12.0,4.477358e+04,3.729081e+04,1873.0,9.983500e+03,47202.5,6.706475e+04,106759.0
facenumber_in_poster,9.0,2.111111e+00,1.269296e+00,1.0,1.000000e+00,2.0,3.000000e+00,4.0
num_user_for_reviews,14.0,1.620071e+03,8.666721e+02,387.0,1.024750e+03,1240.5,2.250750e+03,3054.0
budget,14.0,2.462643e+08,2.426823e+07,200000000.0,2.390000e+08,250000000.0,2.560000e+08,300000000.0
title_year,14.0,2.010500e+03,3.632122e+00,2006.0,2.007250e+03,2009.5,2.014250e+03,2016.0
ACTOR_2_facebook_likes,13.0,8.455846e+03,8.541020e+03,393.0,6.320000e+02,5000.0,1.100000e+04,23000.0
imdb_score,14.0,7.171429e+00,6.730283e-01,6.1,6.725000e+00,7.2,7.500000e+00,8.5
title_year.1,7.0,2.011143e+03,3.976119e+00,2007.0,2.008000e+03,2009.0,2.015000e+03,2016.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                14 non-null     object
 1   num_critic_for_reviews     14 non-null     int64
 2   duration                   11 non-null     float64
 3   DIRECTOR_facebook_likes    12 non-null     object
 4   actor_3_facebook_likes     14 non-null     int64
 5   ACTOR_1_facebook_likes     14 non-null     int64
 6   gross                      14 non-null     int64
 7   num_voted_users            13 non-null     float64
 8   Cast_Total_facebook_likes  12 non-null     float64
 9   facenumber_in_poster       9 non-null      float64
 10  num_user_for_reviews       14 non-null     int64
 11  budget                     14 non-null     int64
 12  title_year                 14 non-null     int64
 13  ACTOR_2_facebook_likes     13 non-null     float64
 14  imdb_score                 14 non-null     float64
 15  title_year.1               7 non-null      float64
dtypes: float64(7), int64(7), object(2)
memory usage: 1.9+ KB

In [ ]:
#after exploring the data set:
#No duplicates to remove
#we can drop title_year.1 as it's an uncomplete copy of title_year
#we can strip spaces and adjust cell formats 
#we can fill in for missing values either with the average of its column or drop the rows with a lot of missing values

In [16]:
#data_cleaning
#removing ?ÿ from movie_title
df1=df['movie_title'].str.strip('?ÿ')
df1.head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: movie_title, dtype: object

In [42]:
#drop title_year.1 from df
df2=df.drop(['title_year.1'], axis =1, inplace=True)

In [41]:
#adjust format in DIRECTOR_facebook_likes 
df3=df['DIRECTOR_facebook_likes'].str.strip('""')
df3.head()

0       10
1      563
2       20
3    22000
4      475
Name: DIRECTOR_facebook_likes, dtype: object

In [46]:
#filling for missing numeric values with average of values in its column or zeros to facilitate calculations
df['duration'].fillna(0)

0     178.0
1       0.0
2     148.0
3       0.0
4     132.0
5     156.0
6       0.0
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64